* {
	margin: 0;
	padding: 0;
}

html,
body {
	width: 100%;
	min-height: 100%;
}

html {
	height: 100%;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	font-family: sans-serif;
	line-height: 1.5;
	min-height: 100%;
	box-sizing: border-box;
	background-color: #ccc;

	/*background-image: url("JS_Chart_Night_.png");*/
	background-size: contain;
	background-repeat: no-repeat;

	flex-direction: column;
	display: flex;
	margin: 0;
}

#h1 {
	/* color: #000 */
	margin: 0px;
	padding: 10px;
}

body.dark {
	color: white;
	background-color: #232e3d;
}

.header {
	padding: 30px 30px 20px;
}

main {
	flex: 1 0 auto;
}

.clear {
	position: relative;
	background: none;
	outline: none;
	border: none;
	color: #37a8ef;
	font-size: 2rem;
}

.bottom {
	left: 20px;
	justify-content: center;
	align-items: stretch;
	display: flex;
	flex-direction: row;
	padding: 20px;
}

.chart {
	padding: 15px;
}

.outline {
	background: none;
	color: inherit;
}

h1 {
	margin: 0px;
}

.chart-footer {
	padding: 20px;
}

.labels {
	font-size: 14px;
	font-weight: bold;
	fill: hsl(209, 25%, 33%);
}

.lines {
	stroke: hsl(209, 25%, 33%);
	stroke-dasharray: 0;
	stroke-width: 1;
}

.line-chart {
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-width: 4;
	fill: none;
}

.graph {
	will-change: contents;
}

.graph text {
	fill: hsl(209, 25%, 33%);
}

.graph .labels.x-labels {
	text-anchor: middle;
}

.graph .labels.y-labels {
	text-anchor: start;
}

.graph .grid {
	stroke: hsl(215, 27%, 40%);
	stroke: hsl(209, 25%, 33%);
	stroke: hsl(214, 29%, 17%);
	stroke: hsl(215, 27%, 19%);
	stroke: hsl(200, 37%, 97%);
	stroke: hsl(205, 46%, 91%);
	/*stroke: #ccc;*/
	stroke-dasharray: 0;
	stroke-width: 1;
}

.finder .window {
	fill: hsl(215, 27%, 19%);
	cursor: move;
}

.finder .window-border {
	fill: hsl(215, 27%, 40%);
}

.handle {
	fill: none !important;
	stroke: none;
	pointer-events: all;
}

.handle.window {
	cursor: move;
}

.handle.left,
.handle.right {
	cursor: col-resize;
}

.finder .overlay {
	fill: hsla(214, 29%, 17%, 0.5);
}
